body {
	background-color:#BA8362;
	background-image:url('');
	background-position:center;
	background-repeat:no-repeat;
}


ul {
	display:inline;
	list-style-type:none;
}

/* Verhalten und Farben aller Links */

a {
	text-decoration:none;
}

a:link {
	color:white;
}

a:visited {
	color:white;
}

a:hover {
	color:maroon;
	background-color:white;
}





.inhalt a:link {
	color:#4D8019
}

.inhalt a:visited {
	color:#800000;
}

.inhalt a:hover {
	color:#BA8362;
}


.foot a:link {
	color:#800000;
}

.foot a:visited {
	color:#800000;
}

.foot a:hover {
	color:#BA8362;
}


/* Kopfleiste mit Logo */

.head {
	color:green;
	background-color:maroon;
	
/* Hier kommt das Logo rein (Webadresse von Picasa o.ä.) */
	background-image:url('');
	
	font-family:Tunga;
	font-size:150%;
	font-style:italic;
	text-align:center;
	
	border:1px solid white;
	border-radius:5px;
	-moz-border-radius:5px;		
	height:100px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}


/* Position und Aussehen der Navigatonsleiste/Buttons */

.navleiste {
	height:20px;
    width:100px;
    margin:-20px 0px 0px 0px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:maroon;
    border-radius:5px;
    border:1px solid white;
        
    float:left;
}

/* Formatierung von Inhaltstexten */

.inhalt {
	height:600px;
    width:900px;
    padding:20px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    position:absolute;

    text-align:center;
    color:maroon;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#fff0f0;
    border-radius:5px;
    border:1px solid #800000;
        
    float:center;
}


/* Unternavigation der einzelnen Seiten -- Links neben dem Inhaltsfenster */

.subnav {
	height:40px;
    width:100px;
    margin:0px 900px 0px 0px;
    padding:10px 0px 0px 10px;
    position:static;
    
    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:maroon;
    border-radius:5px;
    border:1px solid #800000;
        
    float:right;
    z-index: +1;

}


/* Fusszeile mit Copyright und Disclaimer usw. */

.foot {
	font-size:50%;
	color:white;
	text-align:right;
	margin:780px 20px 0px 0px;
	padding:20px;
	position:relative;
}


/* 

h4 {
	text-align:right;
	margin:-30px 20px 0px 0px;
}

thead {
	font-size:120%;
}

td {
	text-align:left;
	text-decoration:inherit;
}

span {
	text-decoration:underline;
}

.textinhalt li {
	padding-left:60px;
}


.frameall {
	background-color:#F3F6D5;
	
	height:1000px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:20px;	
	
	border:1px solid #6b8e23;
	border-radius:5px;
}


.head {
	color:#F5F5F5;
	background-color:#5C991F;
	
	font-family:Tunga;
	font-size:150%;
	font-style:italic;
	text-align:center;
	
	border:1px solid #5C991F;
	border-radius:5px;
	-moz-border-radius:5px;		
	height:200px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding-top:5px;
}


#verhaltenstherapie {
	height:40px;
    width:160px;
    padding:20px 0px 0px 0px;
    margin:-10px 0px 0px 180px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#5C991F;
    border-radius:5px;
    border:1px solid #F5F5F5;
    box-shadow: 15px 15px 10px #888888;        
    float:left;
}

#kostenerstattung {
	height:40px;
    width:160px;
    padding:20px 0px 0px 0px;
    margin:-10px 0px 0px 20px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#5C991F;
    border-radius:5px;
    border:1px solid #F5F5F5;
    box-shadow: 15px 15px 10px #888888;
    
    float:left;

}

#praxisundteam {
	height:40px;
    width:160px;
    padding:20px 0px 0px 0px;
    margin:-10px 0px 0px 20px;
    position:relative;

    text-align:center;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#5C991F;
    border-radius:5px;
    border:1px solid #F5F5F5;
    box-shadow: 15px 15px 10px #888888;
    
    float:left;

}

.inhalt {
	height:600px;
    width:800px;
    padding:20px 0px 0px 0px;
    margin:80px 0px 20px 50px;
    position:absolute;

    text-align:center;
    color:#696969;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#FFFFF0;
    border-radius:5px;
    border:0px dotted #696969;
    box-shadow: 10px 10px 5px #888888;
    
    float:center;
}
   
.inhalt table {
	color:#696969;
    font-family:Verdana;
    font-size:14px;
	border:0px dotted #663300;
	margin:auto;
	margin-top:40px;
	padding:20px 20px 20px 20px;
}

.textinhalt {
	height:600px;
    width:800px;
    padding:40px 40px 40px 40px;
    margin:80px 0px 20px 50px;
    position:absolute;

    text-align:left;
    color:#696969;
    font-family:Verdana;
    font-size:14px;
    
    background-color:#FFFFF0;
    border-radius:5px;
    border:0px dotted #696969;
    box-shadow: 10px 10px 5px #888888;
    
    float:center;
}

*/



